.Blood-Camp-Container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.page-header {
  margin-bottom: 20px;
}

.text-danger {
  color: #dc3545;
}

.panel {
  border: 1px solid #dee2e6;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 20px;
}

.panel-heading {
  padding: 10px;
  background-color: #dc3545;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.panel-body {
  padding: 20px;
}

.row {
  margin-bottom: 15px;

}

.form-control1 {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px;
  
}

.form-control1:focus {
  border-color: #dc3545;
  box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}


.btn-danger {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: #c82333;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table th,
.table td {
  padding: 12px;
  vertical-align: top;
  border: 1px solid #dee2e6;
}

.bgtablered {
  background-color: #dc3545;
  color: white;
}

.table-hover tbody tr:hover {
  background-color: #f8d7da;
}

#newbblist {
  margin-top: 20px;
}

select {
  width: 100%;
}
@media only screen and (max-width:1369px){

  .btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    width: 10vw;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    width: 20vw;
  }
  
}
@media only screen and (max-width:1026px){

  .btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    width: 20vw;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    width: 20vw;
  }
  
}
@media only screen and (max-width:769px){

  .btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    width: 20vw;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    width: 20vw;
  }
  
}

@media only screen and (max-width:394px){

  .btn-danger {
    background-color: #ff2200;
    color: white;
    border: none;
    width: 20vw;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    width: 20vw;
  }
  
}